.row h2 p span {

  font-family: 'Montserrat', sans-serif;
}

/* 

@media screen and (max-width: 360px) {
  #features {    
    padding: 10px;    
  }
  
  
  #testimonials,
  #team,
  
  #footer {
    margin: 15px;
    width: 90%;
  }

 
}

@media (max-width: 360px) {

  #services {
      width: 90% !important;
      margin: 15px;
    }

  
  
      
  
} */