@media screen and (max-width: 360px) {
  #features {    
    padding: 20px;    
  }
  
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    margin: 20px;
    width: 100%;
  }

  #portfolio {
    width: 110%;
  }
}

@media (max-width: 360px) {

  #services {
      width: 110% !important;
      margin: 5px;
    }

  
  
      
  
}